<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign up </title>
</head>
<body>
<h3>Sign up the Details...</h3>
<form action="/" method="post">
    {% csrf_token %}
    <label>User Name :</label><input type="text" name="username"required><br><br>
    <label>Password :</label><input type="password" name="password1"required><br><br>
    <label>Confirm Password :</label><input type="password" name="password2"required><br><br>


    <select name="type" required="1">
        {% for group in request.user.groups.all %}
        {% if group.name == 'staff' %}
            <option value="staff">staff</option>

        {% endif %}
    {% endfor %}
        <option value="employee">employee</option>
    </select>

    <input type="submit" value="Submit">
</form>
</body>
</html>